---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$link-color: #ffed00;
$background-color: #177e80;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

blockquote {
    border-left: 5px solid #ffed00; /* Highlight color for the indent line */
    padding-left: 15px;             /* Padding between the text and the line */
    margin-left: 0;                 /* Optional: Align the blockquote with the text */
    color: #5ce1e6;                 /* Optional: Text color for the blockquote */
    font-style: italic;             /* Optional: Italicize the text */
    background-color: #177e80;      /* Optional: Background color to match your palette */
  }

/* Style for the article title */
h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffed00; /* Bright yellow for the title */
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Style for the ordered list */
ol {
  list-style-type: decimal;
  padding-left: 40px;
  color: #5ce1e6; /* Your palette color for the text */
  font-size: 1.2em;
}

ol li {
  margin-bottom: 10px;
  font-weight: bold;
}

ol li::marker {
  color: #ffed00; /* Yellow numbers */
  font-size: 1.5em;
}